* {box-sizing:border-box;}
ul {list-style-type: none;}
body {font-family: Verdana,sans-serif;}
a{text-decoration: none;
    color: azure;}
html,body{
    height: 100%;
}

h1, p{
    margin:0
}
.wrapper{
    height: 100%;
    background-color: #ccc;
    overflow: hidden;
}

.page2{
    width: 393px;
    height: 852px;
    background-color: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex; 
    justify-content: center;
    align-items: center
}

.page2 .logo{
    display: inline-block;
    width: 55px;
    height: 55px;
    overflow: hidden;
    position: fixed; /* 固定位置 */
    top: 10px;       /* 距離頂部 10px (可調整) */
    left: 37%;      /* 距離左側 10px (可調整) */
    z-index: 1000;   /* 確保在其他內容之上 */
    width: 100px;    /* Logo 寬度 (可調整) */

}

.page2 .logo img{
    height: 100%;
    display: block;
}

.page2 .box{
    width: 393px;
    height: 650px;
    vertical-align: center;
    justify-content: center;
    background-color:#fff;
}

.page2 .box .title{
    font-size: 32px;
    text-align: center;
}

.calander {
    /* padding: 70px 25px; */
    width: 100%;
    background: #fff;
}
 
.calander ul {
    margin: 0;
    padding: 0;
}
 
.calander ul li {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    /* letter-spacing: 3px; */
}
 
.weekdays {
    margin: 0;
    padding: 10px 13px;
    font-size: 12px;
}
 
.weekdays li {
    display: inline-block;
    width: 13.3%;
    color: #666;
    text-align: center;
}
 
.days {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: none;
    text-align: left;
    margin-left: 10px;
}
 
.days td {
    list-style-type: none;
    display: inline-block;
    width: 13.3%;
    text-align: center;
    margin-bottom: 10px;
    font-size:16px;
    color: black;
}
 
.days td .active {
    padding: 5px;
    background: #ACCCE0;
    color: white;
    border-radius: 8px;
}

.page2 .box .btn{
    text-align: center;
}


.page2 .box .btn1{
    display: inline-block;
    padding: 8px 15px;
    /* line-height:24px; */
    /* text-align:center; */
    text-decoration:none;
    font-size: 14px;
    color: black;
    background: #fff;
    border: 1px #ACCCE0 solid;
    border-radius: 12px;
    margin-bottom: 10px;
}

.page2 .box .btn2{
    display: inline-block;
    padding: 8px 15px;
    /* line-height:24px; */
    /* text-align:center; */
    text-decoration:none;
    font-size: 14px;
    color: #fff;
    background: #ACCCE0;
    border-radius: 12px;
    margin-bottom: 10px;
}

.page2 .box p{
    text-align: right;
    margin-right: 20px;
}